/* universal selector */
* {
  text-decoration: underline;
}

/* type selector */
button {
  background-color: aquamarine;
}

/* class selector */
.text_color {
  color: greenyellow;
}

/* id selector */
#text_uppercase {
  text-transform: uppercase;
}

/* attribute selector */
a[href="https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors"]
{
  color: orange;
  font-style: italic;
}

/* group selector */
nav,
p {
  text-align: center;
  margin: auto;
}
